@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
body {
  background-color: white;
  color: black; }
  body h1 {
    text-align: center; }

.input-nav {
  margin-top: 50px;
  width: 50%;
  text-align: center;
  background-color: white;
  background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%); }

#inprogress {
  border-bottom: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  width: 50%;
  color: black;
  background-color: white; }
  #inprogress h3 {
    text-align: center;
    color: black; }
  #inprogress ol {
    color: black; }

#completed {
  margin-top: 5px;
  border-bottom: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  width: 50%;
  color: black;
  background-color: white; }
  #completed h3 {
    text-align: center;
    color: black; }
  #completed ol {
    color: black; }

ol {
  padding-left: 20px;
  margin-bottom: 50px; }

ol li {
  padding: 30px;
  color: black; }

ol li:nth-child(even) {
  background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%); }

.strike {
  text-decoration: line-through; }

.textLarge {
  font-size: 200%; }

.editButton {
  position: fixed;
  right: 26%;
  color: black; }

.completeButton {
  position: fixed;
  right: 29%;
  color: black; }

li:hover {
  cursor: pointer; }

ol li.editMode input[type=text] {
  display: inline-block;
  width: 90%; }

ol li.editMode label {
  display: none; }

.inputTask {
  display: none; }

#logout-container {
  padding-left: 45%; }
